//genericos
$primary: #6A3FB9;
$accent: #FF0B80;
$warn: #FF8AC5;
//secundarios
$primary-pastel: #C9BCDE;
$secondary: $accent;
$secondary-pastel: $warn;
$dark: #000000;
$gray: #D3D3D3;
$light-gray: #EDEDED;
$light: white;
$error: #e91224;
$advertencia: #22aaea;
$informacion: #229745;
